<th:block xmlns::th="http://www.thymeleaf.org" th:fragment="auth-form">

    <div class="col-lg-6">

        <form id="contact" th:action="@{/process_login}" method="post">


            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 20px">
                    <fieldset>
                        <div th:if="${param.error}" style="color: darkred">Неправильные имя или пароль!</div>
                    </fieldset>
                </div>

                <div class="col-lg-6">
                    <fieldset>
                        <input type="text" name="username" id="username" placeholder="Имя" autocomplete="on"
                               required>
                    </fieldset>
                </div>

                <div class="col-lg-6">
                    <fieldset>
                        <input type="password" name="password" id="password" placeholder="Пароль" autocomplete="on"
                               required>
                    </fieldset>
                </div>

                <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Авторизоваться</button>
                    </fieldset>
                </div>
            </div>
        </form>

    </div>

</th:block>