<th:block xmlns::th="http://www.thymeleaf.org" th:fragment="checkbox">
  <ul>
    <li><input type="checkbox" name="option1" value="cars"><span>Cars</span></li>
    <li><input type="checkbox" name="option2" value="aparmtents"><span>Apartments</span></li>
    <li><input type="checkbox" name="option3" value="shopping"><span>Shopping</span></li>
    <li><input type="checkbox" name="option4" value="food"><span>Food &amp; Life</span></li>
    <li><input type="checkbox" name="option5" value="traveling"><span>Traveling</span></li>
  </ul>
</th:block>