<th:block xmlns::th="http://www.thymeleaf.org" th:fragment="header"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <nav class="main-nav">
                    <a th:href="@{/}" class="logo">
                    </a>
                    <ul class="nav">

                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                                <input type="submit" value="Logout" class="btn btn-primary"
                                       style="margin-right: 10px; background-color: #cba726; border-color: #cba726">
                            </form>

                            <li><a sec:authorize="isAnonymous()" th:href="@{/register}">Регистрация</a></li>
                            <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Авторизация</a></li>
                            <li></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</th:block>
