<th:block xmlns::th="http://www.thymeleaf.org" th:fragment="please_authorize">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <div class="top-text header-text">
                        <h6>Добро пожаловать!</h6>
                        <h2>Для начала использования
                            <a th:href="@{/register}" style="color: white;">зарегистрируйтесь</a> или
                            <a th:href="@{/login}" style="color: white;">авторизуйтесь</a></h2>
                    </div>
                </div>
            </div>
        </div>
</th:block>