<th:block xmlns::th="http://www.thymeleaf.org" th:fragment="register-form">

    <div class="col-lg-6">

        <form id="contact" th:action="@{/register}" th:method="post" th:object="${user}">
            <div class="row">

                <div class="col-lg-12">
                    <fieldset>
                        <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: darkred">Неправильные имя или пароль!</div>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="text" th:field="*{login}" name="username" id="username" placeholder="Логин" autocomplete="on" required>
                    </fieldset>
                </div>

                <div class="col-lg-12">
                    <fieldset>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: darkred">Неправильные имя или пароль!</div>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="password" th:field="*{password}" name="password" id="password" placeholder="Пароль" required="">
                    </fieldset>
                </div>

                <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Зарегистрироваться</button>
                    </fieldset>
                </div>
            </div>
        </form>

    </div>

</th:block>