<th:block xmlns::th="http://www.thymeleaf.org" th:fragment="todo">
    <div class="main-banner" style="background-image: url(/assets/images/banner-sheets.jpg);">
        <div class="container">
            <section class="vh-100">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                                <div class="card-body py-4 px-4 px-md-5">

                                    <h2>
                                        My ToDo list
                                    </h2>

                                    <div class="pb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex flex-row align-items-center">

                                                    <div class="col-lg-12">

                                                        <form th:method="post" th:action="@{/todo}"
                                                              th:object="${task}">
                                                            <div class="row">
                                                                <div th:if="${#fields.hasErrors('body')}" th:errors="*{body}" style="color: darkred"></div>
                                                                <div class="col-lg-6 align-self-center">
                                                                    <input style="margin-right: 20px; display: flex;"
                                                                           class="form-control form-control-lg"
                                                                           type="text"
                                                                           th:field="*{body}"
                                                                           id="body"
                                                                           name="body"
                                                                           placeholder="Добавить заметку...">
                                                                </div>

                                                                <div class="col-lg-3 align-self-center">
                                                                    <button type="submit" class="btn btn-primary"
                                                                            style="background-color: #769154; border-color: #769154">
                                                                        Добавить
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </form>

                                                    </div>

                                                </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:each="task : ${tasks}">
                                    <ul class="list-group list-group-horizontal rounded-0 bg-transparent"
                                        style="margin-left: 20px; margin-right: 20px">
                                        <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="form-check">
                                                <input class="form-check-input me-0"
                                                       style="background-color: #89c040; border-color: #89c040;"
                                                       type="checkbox" value=""
                                                       id="flexCheckChecked1"
                                                       aria-label="..." checked/>
                                            </div>
                                        </li>
                                        <li
                                                class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                            <p class="lead fw-normal mb-0" th:text="${task.getBody()}">Task text</p>
                                        </li>
                                        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="text-end text-muted align-self-center" style="display: flex">
                                                <a th:href="@{#}" type="button" class="btn btn-primary"
                                                   style="margin-right: 10px; background-color: #cba726; border-color: #cba726">
                                                    Х
                                                </a>
                                                <a th:href="@{/register}" type="button" class="btn btn-primary"
                                                   style="background-color: #769154; border-color: #769154">
                                                    Обновить
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--end foreach-->

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
    </div>
    </div>
</th:block>