<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ToDo Home</title>
    <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <div th:replace="~{components/styles}"></div>
</head>

<body>

<div th:replace="~{components/preloader}"></div>

<div th:replace="~{components/header}"></div>

<!--if-->
<!--<div class="main-banner">-->
<!--    <div class="container">-->
<!--        <div th:insert="~{components/todo}"></div>-->
<!--    </div>-->
<!--</div>-->

<!--if-->
<!--<div class="main-banner" style="background-image: url(/assets/images/banner-hand.jpg);">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-11">-->
<!--                <div class="top-text header-text">-->
<!--                    <h6>Добро пожаловать!</h6>-->
<!--                    <h2>Для начала использования-->
<!--                        <a href="/register" style="color: white;">зарегистрируйтесь</a> или-->
<!--                        <a href="/login" style="color: white;">авторизуйтесь</a></h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:replace="~{components/todo-or-not-todo :: (${false} ? 'todo' : 'not-todo')}"></div>

<div th:replace="~{components/footer}"></div>

<div th:replace="~{components/scripts}"></div>

</body>

</html>
