<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ToDo Home</title>
    <link th:href="@{/assets/images/favicon.ico}" rel="shortcut icon" type="image/x-icon">

    <div th:replace="~{components/styles}"></div>
</head>

<body>

<div sec:authorize="isAuthenticated()">User Is Authenticated</div>
<div sec:authorize="isAnonymous()">User Is NotAuthenticated</div>

<div th:replace="~{components/preloader}"></div>

<div th:replace="~{components/header}"></div>

<div sec:authorize="isAnonymous()">
    <div th:replace="~{components/please_authorize}"></div>
</div>

<div th:replace="~{components/footer}"></div>

<div th:replace="~{components/scripts}"></div>

</body>

</html>
